html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
}

.text {
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

a {
    text-decoration: none;
    width: auto;
    
}

header {
    background-color: darkolivegreen;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
}

header a:hover {
    background-color: olive;
  }
  
header a {
    color: white;
    padding: 1vh;
  }


.container {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vh;
}

.cat_box {
    background-color: darkolivegreen;
    height: 40vh;
    width: 40vh;
    text-align: end;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 3vh;
    position: relative;
    display: flex;
    justify-content: flex-end; /* Aligns content to the right */
    align-items: flex-end; /* Aligns content to the bottom */
}


.cat_box_im {
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 40vh;
    text-align: end;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 3vh;
    position: relative;
    display: flex;
    justify-content: flex-end; /* Aligns content to the right */
    align-items: flex-end; /* Aligns content to the bottom */

}


a .cat_box{
    color: #ddd;
    padding-right: 1vh;
}

a .cat_box_im{
    color: darkolivegreen;
    padding-right: 1vh;
}


i {
    display: inline-block;
    margin-left: 15vh;
}

.dish {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

b {
    margin-right: 15vh;
    margin-left: 2vh;
}

.price {
    border-left: 1px solid #cec9c9;
}


.logo {
    height: 20vh;
    width: 20vh;
    align-self: center;
    align-items: center;
}

h1 {
    color: darkolivegreen;
    text-align: center;
}



span {
    margin-top: 5vh;
}

.lang {
    background-color: darkolivegreen;
    width: 15vh;
    height: 2vh;
    padding: 2vh;
    justify-content: center;
    display: flex;
    color: #ddd;
}




.previous_c {
    padding-bottom: 0,5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    color: black;
    text-align: end;
    position:absolute;
    margin-left: 20vh;
    border: 1px solid #cec9c9;
}

.previous_c:hover {
    background-color: #cec9c9;
} 


.line {
    margin-left: 10vh;
    margin-top: 5vh;
    font-size: 3vh;
    color: #ddd;
    width: 80%;
    height: 5vh;
    background-color: darkolivegreen;
}


.contact {
    width: 10vh;
    align-items: flex-start;
    margin-top: 5vh;
    margin-left: 10vh;
}


.table {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vh;
    width: 80%;
    justify-content: center;
}

.logoh {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
}


.cv-container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.cv-header h1 {
    margin: 0;
    color: #ddd;
}

.cv-header p {
    color: #ddd;
    font-style: italic;
}

.contact-info h2 {
    color: #333;
    font-size: 1.2em;
}

.contact-info p {
    margin: 5px 0;
}


footer {
    margin-top: 1vh;
    color: #333; /* Footer text color */
    text-align: center;
    box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.3);
}

footer a {
    color: black;
}
