{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    <title>My CV</title>
</head>
<body>
    <div class="cv-container">
        <header class="cv-header">
            <h1>Serdar</h1>
            <p>Web Developer | Prompt engineer</p>
        </header>

        <section class="contact-info">
            <h2>Contact Information</h2>
            <p>Email: serdarmammetsahetow@gmail.com</p>
            <p>Phone: +99363110550</p>
            <p>Instagram: @mammetsakhetov_serdar</p>
        </section>

        <!-- Add more sections like Experience, Education, Skills, etc. -->

    </div>
</body>
</html>
